POSTGRES_HOST=localhost
POSTGRES_DB=online_code_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

API_PORT=3000
WEB_PORT=5173
JUDGE_HEARTBEAT_INTERVAL_MS=2000
JUDGE_STALE_THRESHOLD_MS=30000
JUDGE_QUEUE_CONCURRENCY=2
JUDGE_SANDBOX_WORK_ROOT=.judge-work
JUDGE_PYTHON_IMAGE=python:3.13-slim
JUDGE_CPP_IMAGE=gcc:13
JUDGE_SANDBOX_CPUS=1
JUDGE_SANDBOX_MEMORY_MB=256
JUDGE_SANDBOX_PIDS_LIMIT=64
