sonar.projectKey=online-code-test
sonar.projectName=Online Code Test

sonar.sources=apps,packages
sonar.exclusions=**/node_modules/**,**/dist/**,**/coverage/**,**/*.test.ts,**/*.test.tsx,**/*.spec.ts,**/*.spec.tsx,**/test-setup.ts

sonar.typescript.lcov.reportPaths=apps/api/coverage/lcov.info,apps/judge-worker/coverage/lcov.info,apps/web/coverage/lcov.info

sonar.host.url=http://localhost:9000

sonar.sourceEncoding=UTF-8

sonar.token=<paste-your-token-here>
