APP_NAME=online-code-test
STAGE=dev
AWS_REGION=ap-northeast-1

DB_NAME=online_code_test
DB_USERNAME=oct_admin
DB_PASSWORD=
DB_PASSWORD_SECRET_NAME=
DB_PASSWORD_SSM_PARAMETER=
DB_INSTANCE_CLASS=db.t4g.micro
DB_ALLOCATED_STORAGE=20

REDIS_NODE_TYPE=cache.t4g.micro
REDIS_TLS=true
REDIS_PASSWORD=
REDIS_PASSWORD_SSM_PARAMETER=

WORKER_INSTANCE_TYPE=t3.small
WORKER_DESIRED_CAPACITY=1
WORKER_MAX_SIZE=2
JUDGE_QUEUE_CONCURRENCY=2
